.header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.login-link {
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  color: pink;
  text-decoration: none;
}
.objava-link {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  color: pink;
  text-decoration: none;
}


body {
  background-color: black;
  color: white;  /* Ensure the text is white */
  margin: 0;
  font-family: Arial, sans-serif;
}

.categories {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center; /* Centers the buttons */
}

.category-button {
  background-color: #333;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button:hover {
  background-color: #555;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;  /* Center content in the container */
}

.posts {
  display: grid;
  gap: 20px;
}

.post {
  border: 1px solid #ddd;
  color: rgb(97, 20, 169);  /* You can keep this color or adjust it */
  padding: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #171616;  /* Dark background for each post */
}

.post h2 {
  margin: 0 0 8px;
  color: white;  /* Ensure headings are white */
}

.post p {
  margin: 4px 0;
}

.post hr {
  margin-top: 12px;
  border: 0;
  border-top: 1px solid #ddd;
}

.brisi-button{
  background-color: #462222;
  color: rgb(216, 14, 14);
  border: 1px solid rgb(205, 18, 18);
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
  margin-top: 6px;
  transition: background-color 0.3s;
}
.dodaj-button {
  background-color: #333;
  color: rgb(12, 165, 22);
  border: 1px solid rgb(12, 165, 22);
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content input {
  width: 80%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.modal-content button:hover {
  background: #0056b3;
}
